@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #071013;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body > div {
    width: 50%;
    padding-left: 16px;
    padding-right: 16px;
}

.intro {
    display: flex;
    justify-content: center;
    background-color: #9C3848;
    padding-bottom: 32px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.intro-image {
    max-width: 30%;
    object-fit: scale-down;
    border-radius: 50%;
    margin-top: 20px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    font-size: larger;
    color: #DCDCDD;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    background-color: #DCDCDD;
    border-radius: 16px;
    border: solid 2px black;
    width: fit-content;
    align-self: flex-end;
    margin-bottom: -16px;
    padding: 16px 16px 16px 0px;
}

.contact-info > * {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: #071013;
    margin-left: 16px;
}

.divider {
    background-color: #4056F4;
    margin-top: 32px;
    border-radius: 8px;
    padding: 0;
    height: 16px;
}

.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9C3848;
    margin-top: 32px;
    border-radius: 16px 16px 0px 0px;
}

.info-block {
    display: flex;
    flex-direction: column;
    background-color: #DCDCDD;
    border-radius: 0px 0px 16px 16px;
}

.info-divider {
    background-color: #071013;
    width: 70%;
    height: 2px;
    align-self: center;
}

.info-subheader {
    align-self: center;
}

.info-hint {
    align-self: center;
    text-align: center;
    font-size: large;
}

.info-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    max-width: 20%;
    margin: 16px;
    object-fit: contain;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffb6;
}